<div class="text-center">
  <div
    class="author-img"
    style="background-image: url(assets/images/about.jpg);"
  ></div>
  <h1 id="colorlib-logo">
    <a href="index.html">ノノップ<br /><small>nonopp</small></a>
  </h1>
  <span class="position"
    >京都最南端・木津川市を拠点とする<br />フルスタックエンジニア</span
  >
</div>
