<section class="colorlib-contact" data-section="contact">
  <div class="colorlib-narrow-content">
    <div class="row">
      <div
        class="col-md-12 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <span class="heading-meta"></span>
        <h2 class="colorlib-heading">お問い合わせ</h2>
        <p><small>お問い合わせ、ありがとうございました。</small></p>
        <p>
          <a href="/"><small>ホームに戻る</small></a>
        </p>
      </div>
    </div>
  </div>
</section>
