<section class="colorlib-skills" data-section="skills">
  <div class="colorlib-narrow-content">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-md-pull-3">
        <span class="heading-meta">スキルセット</span>
        <h2 class="colorlib-heading">Skills</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>・プログラム言語／フレームワーク</p>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>PHP</h3>
          <div class="progress">
            <div
              class="progress-bar color-6"
              role="progressbar"
              style="width:100%"
            >
              <span>10年以上</span>
            </div>
          </div>
          <p>
            <small
              >Laravel、Symfony、ZendFramework、CakePHP、Smarty、PEAR、Mojaviなど</small
            >
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>Python</h3>
          <div class="progress">
            <div
              class="progress-bar color-3"
              role="progressbar"
              style="width:50%"
            >
              <span>2年以上</span>
            </div>
          </div>
          <p>
            <small
              >オープンソースCMS「Plone」を使ったサイト構築経験あり<br />
              Tensorflowを使った機械学習プログラムを学習中</small
            >
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>TypeScript</h3>
          <div class="progress">
            <div
              class="progress-bar color-5"
              role="progressbar"
              style="width:60%"
            >
              <span>3年以上</span>
            </div>
          </div>
          <p><small>React、Vue、Node.js開発に利用しています</small></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>React</h3>
          <div class="progress">
            <div
              class="progress-bar color-1"
              role="progressbar"
              style="width:65%"
            >
              <span>5年以上</span>
            </div>
          </div>
          <p><small>NextJSも利用しています</small></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>Angular</h3>
          <div class="progress">
            <div
              class="progress-bar color-3"
              role="progressbar"
              style="width:50%"
            >
              <span>2年以上</span>
            </div>
          </div>
          <p><small>1系の実績あり</small></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>VueJS</h3>
          <div class="progress">
            <div
              class="progress-bar color-1"
              role="progressbar"
              style="width:65%"
            >
              <span>5年以上</span>
            </div>
          </div>
          <p><small>NuxtJSも利用しています</small></p>
        </div>
        <p><small></small></p>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>Ionic Framework</h3>
          <div class="progress">
            <div
              class="progress-bar color-3"
              role="progressbar"
              style="width:50%"
            >
              <span>2年以上</span>
            </div>
          </div>
          <p>
            <small>3系から利用し始め、Ionicでスマホアプリ公開実績あり</small>
          </p>
        </div>
        <p><small></small></p>
      </div>
      <div class="col-md-12">
        <p>・ツール</p>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>Github</h3>
          <div class="progress">
            <div
              class="progress-bar color-6"
              role="progressbar"
              style="width:100%"
            >
              <span>10年以上</span>
            </div>
          </div>
        </div>
        <p><small>Github、BitBucket、GitLab、GitBucketの利用経験あり</small></p>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>バグトラッキングシステム</h3>
          <div class="progress">
            <div
              class="progress-bar color-6"
              role="progressbar"
              style="width:100%"
            >
              <span>10年以上</span>
            </div>
          </div>
        </div>
        <p><small>Backlog、Redmine、Jira、Tracなど</small></p>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>チャットツール</h3>
          <div class="progress">
            <div
              class="progress-bar color-6"
              role="progressbar"
              style="width:100%"
            >
              <span>10年以上</span>
            </div>
          </div>
        </div>
        <p><small>Slack、Chatwork、LINE WORKSなど</small></p>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>WBSツール</h3>
          <div class="progress">
            <div
              class="progress-bar color-5"
              role="progressbar"
              style="width:60%"
            >
              <span>3年以上</span>
            </div>
          </div>
        </div>
        <p><small>Brabioなど</small></p>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>AIコード支援</h3>
          <div class="progress">
            <div
              class="progress-bar color-3"
              role="progressbar"
              style="width:50%"
            >
              <span>2年以上</span>
            </div>
          </div>
        </div>
        <p><small>ChatGPT、Cursorなど</small></p>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>テスティングツール</h3>
          <div class="progress">
            <div
              class="progress-bar color-1"
              role="progressbar"
              style="width:70%"
            >
              <span>6年以上</span>
            </div>
          </div>
        </div>
        <p><small>Jest、Cypress、Puppeteer、Seleniumなど</small></p>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>UI/UXデザインツール</h3>
          <div class="progress">
            <div
              class="progress-bar color-1"
              role="progressbar"
              style="width:70%"
            >
              <span>6年以上</span>
            </div>
          </div>
        </div>
        <p><small>Storybook、Figma、Canva、draw.ioなど</small></p>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>Refine</h3>
          <div class="progress">
            <div
              class="progress-bar color-3"
              role="progressbar"
              style="width:30%"
            >
              <span>1年以上</span>
            </div>
          </div>
        </div>
        <p><small>管理画面・BtoBアプリ開発に利用しています</small></p>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>WordPress</h3>
          <div class="progress">
            <div
              class="progress-bar color-6"
              role="progressbar"
              style="width:100%"
            >
              <span>10年以上</span>
            </div>
          </div>
        </div>
        <p><small>プラグイン開発も可能</small></p>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>Drupal</h3>
          <div class="progress">
            <div
              class="progress-bar color-3"
              role="progressbar"
              style="width:50%"
            >
              <span>2年以上</span>
            </div>
          </div>
        </div>
        <p><small>プラグイン開発も可能</small></p>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>ECCube</h3>
          <div class="progress">
            <div
              class="progress-bar color-5"
              role="progressbar"
              style="width:60%"
            >
              <span>3年以上</span>
            </div>
          </div>
        </div>
        <p><small>4系のカスタマイズが可能</small></p>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>Solr</h3>
          <div class="progress">
            <div
              class="progress-bar color-3"
              role="progressbar"
              style="width:30%"
            >
              <span>1年以上</span>
            </div>
          </div>
        </div>
        <p><small>基本設定が可能</small></p>
      </div>
      <div class="col-md-12">
        <p>・データベース</p>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>MySQL</h3>
          <div class="progress">
            <div
              class="progress-bar color-6"
              role="progressbar"
              style="width:100%"
            >
              <span>10年以上</span>
            </div>
          </div>
          <p><small>パフォーマンスチューニングも可能</small></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>PostgreSQL</h3>
          <div class="progress">
            <div
              class="progress-bar color-5"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width:60%"
            >
              <span>3年以上</span>
            </div>
          </div>
          <p><small>パフォーマンスチューニングも可能</small></p>
        </div>
      </div>
      <div class="col-md-12">
        <p>・サーバ／インフラ</p>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>AWS</h3>
          <div class="progress">
            <div
              class="progress-bar color-1"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width:65%"
            >
              <span>5年以上</span>
            </div>
          </div>
          <p>
            <small
              >管理コンソールからの操作および<br />EC2、RDS、S3、Cognitoを使った基本的なサーバ構築の経験あり</small
            >
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>RHEL</h3>
          <div class="progress">
            <div
              class="progress-bar color-3"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width:40%"
            >
              <span>2年以上</span>
            </div>
          </div>
          <p>
            <small
              >RHELのほか、CentOS, Fedora, VineLinuxの構築実績あり<br />ファイアウォール設定、DNS設定も可能</small
            >
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>Docker</h3>
          <div class="progress">
            <div
              class="progress-bar color-6"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width:100%"
            >
              <span>10年以上</span>
            </div>
          </div>
          <p>
            <small
              >NextJS環境、WordPress環境、Laravel環境、MySQL環境などの構築経験あり</small
            >
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>XServer VPS</h3>
          <div class="progress">
            <div
              class="progress-bar color-5"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width:60%"
            >
              <span>3年以上</span>
            </div>
          </div>
          <p>
            <small
              >NextJS、WordPress、Laravelサイトのホスティング・運用経験あり</small
            >
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>Vagrant</h3>
          <div class="progress">
            <div
              class="progress-bar color-3"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width:40%"
            >
              <span>2年以上</span>
            </div>
          </div>
          <p><small>Laravel環境、MySQL環境などの構築経験あり</small></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>Firebase</h3>
          <div class="progress">
            <div
              class="progress-bar color-3"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width:40%"
            >
              <span>2年以上</span>
            </div>
          </div>
          <p><small>FirestoreDB、認証を使ったアプリ構築実績あり</small></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>Apache</h3>
          <div class="progress">
            <div
              class="progress-bar color-1"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width:70%"
            >
              <span>5年以上</span>
            </div>
          </div>
          <p><small>パフォーマンスチューニングも可能</small></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>Heroku</h3>
          <div class="progress">
            <div
              class="progress-bar color-3"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width:30%"
            >
              <span>1年以上</span>
            </div>
          </div>
          <p><small>LAMP環境などの構築経験あり</small></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="progress-wrap">
          <h3>CI</h3>
          <div class="progress">
            <div
              class="progress-bar color-5"
              role="progressbar"
              style="width:60%"
            >
              <span>3年以上</span>
            </div>
          </div>
        </div>
        <p><small>Dependabot、GitHub ActionsによるCI駆動開発</small></p>
      </div>
    </div>
  </div>
</section>
